.card {
    display: flex;
    height: 5rem;
    width: 20rem;
    justify-content: center;
    padding: 2rem;
    align-self: stretch;
    align-items: center;
    background-color: white;
    margin: 2rem;
    border-radius: 14px 0px 14px 1px;
    -moz-border-radius: 14px 0px 14px 1px;
    -webkit-border-radius: 14px 0px 14px 1px;
    border: 0px solid #000000;
    box-shadow: 0 20px 30px -16px rgba(9, 9, 16, 0.2);
    transition: transform 0.2s;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }

    h2 {
        font-size: 2rem;
    }
}

.listCard {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    padding: 2rem;
    -webkit-align-self: stretch;
    align-self: stretch;
    align-items: center;
    background-color: white;
    margin: 2rem;
    width: 20rem;
    border-radius: 14px 0px 14px 1px;
    -moz-border-radius: 14px 0px 14px 1px;
    -webkit-border-radius: 14px 0px 14px 1px;
    border: 0px solid #000000;
    box-shadow: 0 20px 30px -16px rgba(9, 9, 16, 0.2);
    transition: transform 0.2s;

    .userCardDetails {
        display: flex;
        flex-flow: wrap column;
        justify-content: space-between;
        align-items: flex-end;
        height: 3rem;
    }

    h2 {
        font-size: 1rem;
        text-align: right;
    }

    img {
        margin-right: 2rem;
    }
}

.link {
    text-decoration: none;
    color: black;
}