.login-form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    border-left: 1px solid white;
    padding: 2rem;

    p {
        color: white;
        cursor: pointer;
    }
}


.login-input-box {
    background-color: white;
    border-radius: 14px 0px 14px 1px;
    -moz-border-radius: 14px 0px 14px 1px;
    -webkit-border-radius: 14px 0px 14px 1px;
    border: 0px solid #000000;
    box-shadow: 0 20px 30px -16px rgba(9, 9, 16, 0.2);
    border: 0;
    width: 15rem;
    padding: 0.5rem;
    height: 2rem;
    margin-bottom: 2rem;
    font-family: Candara;
}

.login-button {
    background-color: white;
    border-radius: 14px 0px 14px 1px;
    -moz-border-radius: 14px 0px 14px 1px;
    -webkit-border-radius: 14px 0px 14px 1px;
    border: 0px solid #000000;
    box-shadow: 0 20px 30px -16px rgba(9, 9, 16, 0.2);
    width: 15rem;
    font-size: 0.9rem;
    padding: 0.5rem;
    height: 3rem;
    margin: 2rem;
    font-family: Candara;
    transition: transform 0.2s;
    cursor: pointer;
}

.login-button:hover {
    transform: scale(1.1);
    background: #355c7d;
    background: -webkit-linear-gradient(to right,
            #c06c84,
            #6c5b7b,
            #355c7d);
    background: linear-gradient(to right,
            #c06c84,
            #6c5b7b,
            #355c7d);
    color: white;
}

.signup-link {
    text-decoration: none;
}

@media only screen and (max-width: 740px) {
    .login-form {
        border-left: none;
        border-top: 1px solid white;
    }
}

input:focus {
    outline: none;
}